h2 {
    color: goldenrod;

}

p {
    font-size: 20px;
}
.annotation {
    font-size: 10px;
}

#subscribe-btn {
    color: darkred;
}

button {
    color: gold !important;
}

body {
    font-family: sans-serif;
    border: 5px red solid;
    text-align: center;
    
}


subscribe-btn : kebab-case
/*SudscribeBtn : camelCase
                loverCamelCase
                Upper...(PascalCase)


subscribe_btn : snake_case
I_AM_CONSTANT
/*
